body {
    box-sizing: border-box;
    text-align: center;
  }
  
  #wheel {
    display: inline-block;
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
    margin-top: 3%;
    transition: transform 10s cubic-bezier(.5,.1,.15,1);
    transform: rotate(0deg);
    z-index: 1;
    pointer-events: none;
  }
  
  #peg {
    display: inline-block;
    width: 3px;
    min-width: 15px;
    max-width: 40px;
    height: auto;

    top:15%;
    left: 49.5%;
    z-index: 2;
  }
  
  #button {
    font-size: 10px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    color: white;
    background: #89bd46;
    border: none;
    display: inline-block;
    margin: 25px;
    z-index: 3;
  }
  
  #button:hover, #button:focus {
    background: #89bd46;
  }
  #topnav {
    display: block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .nav a {
    float: center;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 10px;
  }
  .nav {
    background-color: black;
    overflow: hidden;
    text-align: center;
  }
  .nav a:hover{
    background-color: rgb(57, 56, 56);
  }
  #homePage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url('../(location)')
  }