.topnav {
    background-color: #b8e0dd;
    overflow: hidden;
    text-align: center;
  }
  

  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 100px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .footer{
    text-align: center;
}
.collapsible {
    background-color: #b8e0dd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    background-color: #b8e0dd;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #b8e0dd;
  }